.Profile1{
    display: flex;
    justify-content: center;
}
.tab1{
    border: 3px solid orange;
    border-radius: 20px;
    box-shadow: 5px 5px orange;
    width: 100%;
  height: 100%;  
  padding: 100px;
  margin-top: 50px;
}
.change{

    text-align: center;
   
}
.button1{
    border-radius: 100px;
    padding: 15px;
}

.h4c{
    gap: 35px;
    padding-left: 20px;
}