body 
{
margin: 10px;
padding: 0;
background-color:#fff;
}
.container {
max-width: 320px;
margin: 0 auto; 
padding:20px;
border:1px solid #ddd;
}
.logo {
display: flex;
justify-content: center;
}
h2{
font-size: 20px;
font-family: Arial, sans-serif;
}
.formContainer 
p {
font-size: 13px;
font-family: Arial, sans-serif;
}
.text-field {
    text-align:center;
    margin-bottom:15px;
    }
.text-field 
input {
    padding: 10px;
 width: 94%;
margin-bottom: 10px;
border: 1px solid #ddd;
}
.text-field 
button {
    padding: 10px 40px;
background-color:#f7991c;
width: 100%;
border:none;
font-family: Arial, sans-serif;
line-height: 19px;
}
